* {
  /* border: 1px solid red; */
}

body {
  padding: 2.4rem;
  background-image: url('./assets/planet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon {
  font-size: 4rem;
  color: white;
  /* color: rgba(119, 119, 119, 0.5); */
}

.icon:hover {
  color: #780B7E;
  cursor: pointer;
  transform: scale(1.1);
}

.menu-icon {
  /* width: 100%; */
  /* position: relative; */
  /* right: 0; */
  align-self: flex-end;
}

.primary {
  background-color: #780B7E;
}

.secondary {
  background-color: aqua;
}

.mild {
  background-color: yellow;
}

.panic {
  background-color: red;
}